{% extends "base.html" %} {% block title %} {{ video.sku }} {% endblock %} {%
block content %}
<!-- Bootstrap Container Card -->
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% if video.images %} {% for image in video.images %}
    <div class="col">
      <a href="{{base_url + image.image}}" class="card shadow-sm">
        <img src="{{ base_url + image.image }}" alt="{{ image.name }}" />
      </a>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
