{% extends "base.html" %} {% block title %} Edit Info {{video.sku}} {% endblock
%} {% block content %}
<!-- Bootstrap Form -->
<div class="container-sm">
  <form action="/update/{{ video.sku }}" method="POST">
    {% if video.cover_image %}
    <img
      src="{{ base_url + video.cover_image }}"
      class="rounded mx-auto d-block"
      alt="{{ video.sku }}"
    />
    {% else %} {% include "placeholder.html" %} {% endif %}
    <fieldset disabled>
      <div class="mb-3">
        <label for="videoSKU" class="form-label">SKU</label>
        <input
          type="text"
          class="form-control"
          id="videoSKU"
          placeholder="{{ video.sku }}"
        />
      </div>
    </fieldset>

    <div class="mb-3">
      <label for="actress" class="form-label">Actress</label>
      <input type="text" class="form-control" id="actress" name="actress""
      value="{{ video.actress }}" />
    </div>

    {% for k, v in video_dict.items() %} {% if k == 'cover_image' %}
    <fieldset disabled>
      <div class="mb-3">
        <label for="{{ k }}" class="form-label">{{ k }}</label>
        <input
          type="text"
          class="form-control"
          id="{{ k }}"
          placeholder="{{ v }}"
        />
      </div>
    </fieldset>
    {% else %}
    <div class="mb-3">
      <label for="{{ k }}" class="form-label">{{ k }}</label>
      <input
        type="text"
        class="form-control"
        id="{{ k }}"
        name="{{ k }}"
        value="{{ v }}"
      />
    </div>
    {% endif %} {% endfor %}
    <div class="d-flex justify-content-between align-items-centers">
      <button type="submit" class="btn btn-primary">Update</button>

      <a href="/reset/{{ video.sku }}" class="link-danger">Reset</a>
    </div>
  </form>
</div>
{% endblock %}
