{% extends "base.html" %} {% block title %} Edit Info {{video.sku}} {% endblock
%} {% block content %}
<!-- Bootstrap Form -->
<div class="container-sm">
  <form action="/update/{{ video.sku }}" method="POST">
    {% if video.cover_image %}
    <img
      src="{{ base_url + video.cover_image }}"
      class="rounded mx-auto d-block"
      alt="{{ video.sku }}"
    />
    {% else %} {% include "placeholder.html" %} {% endif %}
    <fieldset disabled>
      <div class="mb-3">
        <label for="videoSKU" class="form-label">SKU</label>
        <input
          type="text"
          class="form-control"
          id="videoSKU"
          placeholder="{{ video.sku }}"
        />
      </div>
    </fieldset>
    <!-- Actress field -->
    <div class="mb-3">
      <label for="actress" class="form-label">Actress</label>
      <input type="text" class="form-control" id="actress" name="actress""
      value="{{ video.actress }}" />
    </div>
    <!-- Studio field -->
    <div class="mb-3">
      <label for="studio" class="form-label">Studio</label>
      <input type="text" class="form-control" id="studio" name="studio""
      value="{{ video.studio }}" />
    </div>
    <!-- Duration field -->
    <div class="mb-3">
      <label for="duration" class="form-label">Duration</label>
      <input type="number" class="form-control" id="duration" name="duration""
      value="{{ video.duration }}" />
    </div>
    <!-- Release Date field -->
    <div class="mb-3">
      <label for="release_date" class="form-label">Release Date</label>
      <input type="datetime" class="form-control" id="release_date"
      name="release_date"" value="{{ video.release_date }}" />
    </div>

    <div class="d-flex justify-content-between align-items-centers">
      <button type="submit" class="btn btn-primary">Update</button>

      <a href="/reset/{{ video.sku }}" class="link-danger">Reset</a>
    </div>
  </form>
</div>
{% endblock %}
