{% extends "base.html" %} {% block title %} Welcome {% endblock %} {% block
content %}
<!-- Bootstrap Container Card -->
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for video in videos %}
    <div class="col">
      <div class="card shadow-sm">
        <img src="/image/{{ video.sku }}" alt="{{ video.sku }}" />
        <div class="card-body">
          <p class="card-text">
            <strong>{{ video.sku }}</strong>
          </p>
          <div class="d-flex justify-content-between align-items-centers">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/play/{{ video.sku }}">Play</a>
              </button>
              {% if not video.actress %}
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/edit/{{ video.sku }}">Get Info</a>
              </button>
              {% else %}
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/actress/{{ video.actress }}">{{ video.actress }}</a>
              </button>
              {% endif %}
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/info/{{ video.sku }}">update</a>
              </button>
            </div>
            <small class="text-body-secondary">{{ video.release_date}}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
