{% extends "base.html" %} {% block title %} Welcome {% endblock %} {% block
content %}
<!-- Bootstrap Container Card -->
<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 row-cols-xl-3 g-3">
    {% for video in videos %}
    <div class="col">
      <div class="card shadow-sm">
        {% if video.cover_image %}
        <img src="{{ base_url + video.cover_image }}" alt="{{ video.sku }}" />
        {% else%}
        {% include "placeholder.html" %} 
        {% endif %}
        <div class="card-body">
          <p class="card-text ">
            <div class="d-flex justify-content-between align-items-centers">
              <strong>{{ video.sku }}</strong>
              {% if video.images %}
                <a href="/images/{{ video.sku }}">view sample images</a>
              {% endif %}
            </div>
          </p>
          <small class="text-body-secondary">Release Date: {{ video.release_date}}</small>
          <div class="d-flex justify-content-between align-items-centers">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/videos/play/{{ video.sku }}">Play</a>
              </button>
              {% if video.actress == "unknown" %}
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/get/info/{{ video.sku }}">Get Info</a>
              </button>
              {% else %}
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/videos/{{ video.actress }}">{{ video.actress }}</a>
              </button>
              {% endif %}
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="/update/{{ video.sku }}">update</a>
              </button>
            </div>
            <small class="text-body-secondary">{{ video.duration}} min</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
